* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.6;
  color: black;
  background-color: rgb(179, 170, 140);
  width: 90%;
  margin: 0 auto;
  max-width: 1080px;
}

header {
  background-color: peachpuff;
  margin-bottom: 8px;
}

button {
  background-color: #548bdf;
  border: none;
  border-radius: 25px;
  color: white;
  padding: 1px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  color: rgb(65, 61, 66);
  background-color: rgb(201, 160, 71);
  transition: 0.5s;
}

div {
  border: 2px solid black;
  border-style: dotted;
  padding: 8px;
}

h1 {
  font-size: large;
  font-weight: 700;
}

h1:hover {
  color: rgb(83, 106, 240);
  transition: 0.5s;
}

.header-container {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 1.5rem 0;
  text-align: center;
  display: flex;
  border: none;
}

#navli {
  list-style: none;
  display: flex;
  margin: auto;
  cursor: pointer;
  color: azure;
}

main {
  text-align: center;
}

h2 {
  padding: 10px;
  color: aliceblue;
}

.sectionstart {
  position: static;
}

#one {
  position: relative;
  width: 49%;
  display: inline-block;
  margin: 0 0 10px 0;
}

#two {
  position: relative;
  width: 49%;
  display: inline-block;
  margin: 0 0 10px 0;
}

#goals {
  position: relative;
  margin: 0 0 8px 0;
}

#uName {
  background-color: rgb(65, 61, 66);
  margin: auto auto 10px auto;
  width: 75%;
  border: 2px solid rgb(201, 160, 71);
  border-radius: 20px;
  padding: 5px;
  text-align: center;
}

#uName:hover {
  background-position: -200px top;
  background-image: url(https://thumbs.gfycat.com/AbandonedAnguishedCatfish-size_restricted.gif);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.9) 100%),
    url(https://thumbs.gfycat.com/AbandonedAnguishedCatfish-size_restricted.gif);
}

p {
  color: rgb(245, 219, 219);
}
/* looking for p.more-content class inside of sections for this code*/
/* this more specific so it'll prioritise this line of code */
section p.more-content {
  background-color: rgb(103, 118, 145);
}

.more-content {
  background-color: rgb(31, 58, 211);
}

div.scrollmenu {
  background-color: #c49d9d;
  overflow: auto;
  overflow-x: scroll;
  white-space: nowrap;
}

div.scrollmenu li {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 8px;
  text-decoration: none;
}

div.scrollmenu li:hover {
  background-color: #740b36;
}

@media (min-width: 320px) {
  .header-container {
    text-align: left;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  h1 {
    margin: 0;
  }

  li {
    margin: 0 0 0 1rem;
  }

  #navli {
    margin: auto;
  }

  .header-container {
    padding-top: 2rem;
  }
}
